@model Post

<div class="card" style="background-color: tan">
    <div class="card-body" style="background-color: tan">
        <h1 class="text-center">New Post</h1>
        <form asp-controller="Post" asp-action="CreatePost" method="post">
            <div>
                <label>Book</label>
            </div>
            <div class="form-group">
                <select asp-for="BookId" style="background-color: burlywood">
                    @foreach (Book book in ViewBag.AllBooks)
                    {
                        <option value="@book.Id">@book.BookTitle</option>
                    }
                </select>
            </div>
            @*<div class="form-group">
                <div>
                    <label>Rating Stars</label>
                </div>
                <select asp-for="AlbumRatingNumber">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>*@
            <div class="form-group">
                <label asp-for="Content"></label>
                <input class="form-control" style="background-color: burlywood" asp-for="Content">
            </div>
            <div class="form-group">
                <span asp-validation-for="Content" class="text-danger font-weight-bold"></span>
                <span asp-validation-for="BookId" class="text-danger font-weight-bold"></span>
            </div>
            <input type="submit" value="Create" style="background-color: burlywood">
        </form>
    </div>
</div>