@{
    ViewData["Title"] = "Home Page";
}

@*<img src="https://scx1.b-cdn.net/csz/news/800/2017/theoreticala.jpg" alt=”an artist's rendition of a black hole in space”>*@
<div>     
<div class="text-center">


    @*    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="text-center">
        <h1 class="display-4"> Book Central </h1>

        <br />

      @*  <h2> Sign in to get started, or simply View All books!</h2>*@
        
        <br /><br />

              <span style="display: inline;">
                  <a asp-area="Identity" asp-page="/Account/Login" style="color:black;" class="btn btn-outline-dark">   Log in  </a>
              </span> <br />
                  <span style="display: inline;">
            <a asp-area="Identity" asp-page="/Account/Register" style="color:black;" class="btn btn-outline-dark">Join  </a>
                  </span>


         </div>
            
            
    }
    else
    {
        <div class="text-center">
            <br />
        <h1>Welcome Back , @User.Identity.Name.Remove(User.Identity.Name.IndexOf("@"))!</h1>
    </div>
    }

         </div>    