@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    

    @*    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="text-center">
        <h1 class="display-4">Welcome to the Book Club! </h1>

        <br />

        <h2> Sign in to get started, or simply View All books!</h2>
        
        <br /><br />

              <span style="display: inline;">
                  <a asp-area="Identity" asp-page="/Account/Login" style="color:black;" class="btn btn-outline-dark">Log in!</a>
              </span> <br />
                  <span style="display: inline;">
            <a asp-area="Identity" asp-page="/Account/Register" style="color:black;" class="btn btn-outline-dark">Become a Book Club Member!</a>
                  </span>


         </div>
            
            
    }
    else
    {
        <div class="text-center">
            <br />
        <h1>Welcome Back , @User.Identity.Name.Remove(User.Identity.Name.IndexOf("@"))!</h1>
    </div>
    }

            