@using BookLibrary.Models

@model List<SearchedBooks>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Search</li>
  </ol>
</nav>

<div class="text-center">


<div class="container body-content">
        <form action="/List/GetBooks" method="post" class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Title, Author or ISBN" name="searchTerm" id="searchTerm" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
</div>
</div>


