@using BookLibrary.Models

@model List<SearchedBooks>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Search</li>
  </ol>
</nav>

<div class="text-center">


<div class="container body-content">
    <form action="/list/GetBooks" method="post">
        <p>
            <label for="searchTerm"></label>
            <input type="text" class="btn-outline" placeholder="search" name="searchTerm" id="searchTerm" />
            <input type="submit" class="btn btn-outline-dark" value="Search" />
        </p>
    </form>
</div>
</div>


