@using BookLibrary.Models

@model List<SearchedBooks>

<div class="text-center">
<div class="container body-content">

    <form action="/list/GetBooks" method="post">
        <p>
            <label for="searchTerm"></label>
            <input type="text" class="btn-outline" placeholder="search" name="searchTerm" id="searchTerm" />
            <input type="submit" class="btn btn-outline-dark" value="Search" />
        </p>
    </form>
    

   
    </div>
</div>

@if (Model.Count == 0)
{
    <p>No Books in the Online Collection yet!</p>
}

else
{
   
    <form action="/list/Add" method="post">



        <table class="table">
     
            @foreach (var book in Model)
            {         
                    @*<div class="text-md-center">
                    <a asp-controller="List" asp-action="Add" asp-route-bookId="@book.APIBookID" class="img-thumbnail"> <img src="@book.Image" /></a>
                    </div>
                    <br />
                <br /> *@  

                <div class="container">
                    <div class="text-md-center">
                    @* <img src="cinqueterre.jpg" class="img-responsive" alt="Cinque Terre" width="304" height="236">*@
                    <a asp-controller="List" asp-action="Add" asp-route-bookId="@book.APIBookID"> <img src="@book.Image" class="img-responsive" width="275" height="330" /></a>
                    <br/>
                    <br/>
                </div>
                </div>
            }
       
        </table>
     </form>
}